---
layout: blog
title: Tools
permalink: /tutorials/
---
<h1>Tutorial</h1>
    <div class="hline"></div>
    <h2>Scratch</h2>
    <ul class="list-unstyled popular-posts">
        {% for post in site.tutorials reversed %}
            {% if post.categories[0] == 'Scratch' %}
                <li>
                    <h4><a href="{{ post.url  | prepend: site.baseurl }}">{{ post.title }}</a></h4>
                    <em>Pubblicato il {{ post.date | date: "%m/%d/%Y" }}</em>
                    <p>{{post.excerpt}}</p>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="hline"></div>
    <h2>HTML/CSS</h2>
    <ul class="list-unstyled popular-posts">
        {% for post in site.tutorials reversed %}
            {% if post.categories[0] == 'Html/Css' %}
                <li>
                    <h4><a href="{{ post.url  | prepend: site.baseurl }}">{{ post.title }}</a></h4>
                    <em>Pubblicato il {{ post.date | date: "%m/%d/%Y" }}</em>
                    <p>{{post.excerpt}}</p>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2>Javascript</h2>
    <ul class="list-unstyled popular-posts">
        {% for post in site.tutorials reversed %}
            {% if post.categories[0] == 'Javascript' %}
                <li>
                    <h4><a href="{{ post.url  | prepend: site.baseurl }}">{{ post.title }}</a></h4>
                    <em>Pubblicato il {{ post.date | date: "%m/%d/%Y" }}</em>
                    <p>{{post.excerpt}}</p>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2>Minecraft</h2>
    <ul class="list-unstyled popular-posts">
        {% for post in site.tutorials reversed %}
            {% if post.categories[0] == 'Minecraft' %}
                <li>
                    <h4><a href="{{ post.url  | prepend: site.baseurl }}">{{ post.title }}</a></h4>
                    <em>Pubblicato il {{ post.date | date: "%m/%d/%Y" }}</em>
                    <p>{{post.excerpt}}</p>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2>Python</h2>
    <ul class="list-unstyled popular-posts">
        {% for post in site.tutorials reversed %}
            {% if post.categories[0] == 'Python' %}
                <li>
                    <h4><a href="{{ post.url  | prepend: site.baseurl }}">{{ post.title }}</a></h4>
                    <em>Pubblicato il {{ post.date | date: "%m/%d/%Y" }}</em>
                    <p>{{post.excerpt}}</p>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
