    <!-- About Section -->
    <section id="about" class="about-section content-section text-center">
        <h2></h2>
        <div>
            <iframe class="youtube" src="https://www.youtube.com/embed/70kwN4cgBjM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <p>
            CoderDojo è un movimento globale senza scopo di lucro che si occupa di istituire dei club e organizzare incontri gratuiti per insegnare ai giovani a programmare. Nato in Irlanda nel 2011, si rivolge a bambini e adolescenti e si sta espandendo a livello globale.
        </p>
        <p>
            CoderDojo promuove l’utilizzo del software open source e gratuito e dispone di una forte rete di soci e volontari a livello globale.
        </p>
        <p>
            CoderDojo ha una sola regola: <strong>Be cool!</strong>
        </p>
        <a href="http://coderdojo.com" target="_blank" class="btn btn-default btn-lg">Scopri di più su CoderDojo</a>
    </section>