<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" type="text/javascript" async=""></script>
<script type="text/javascript">
WebFontConfig = {
google: {
families:[ "Open+Sans:400,400italic,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese", "Roboto:400,400italic,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese", "Oswald:400,400italic,700,700italic:latin,greek-ext,cyrillic,latin-ext,greek,cyrillic-ext,vietnamese" ]},

};
(function() {
var wf = document.createElement('script');
wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
  '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
wf.type = 'text/javascript';
wf.async = 'true';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(wf, s);
})();
</script>
<style>
.jx-ievent-event-box {
  position: absolute;
  margin-left: -440px;
  left:50%;
  top: 330px;
  z-index: 9;
  width: 100%;
}
.jx-ievent-event-title-box {
    background: rgba(0,0,0,0.8);
    width: 639px;
    min-height: 250px;
}
.jx-ievent-event-box .jx-ievent-event-date {
    background: rgba(238,22,58,0.9);
    width: 250px;
    height: 250px;
    color: #fff;
    padding: 20px;
    float: left;
}
.jx-ievent-event-box .jx-ievent-event-date .jx-ievent-event-day {
    font-size: 135px;
    font-family: oswald;
    line-height: 1;
    text-align: center;
}
.jx-ievent-event-box .jx-ievent-event-date .jx-ievent-event-month {
    font-size: 54px;
    font-family: oswald;
    line-height: 1.2;
    text-align: center;
}
style.css:1036
.jx-ievent-uppercase {
    text-transform: uppercase;
}
.jx-ievent-event-title-box {
    color: #fff;
    font-family: oswald;
    padding: 25px;
    line-height: 1.2;
    float: left;
}
style.css:3141
.jx-ievent-event-title-box {
    background: rgba(0,0,0,0.8);
    width: 639px;
    min-height: 250px;
}
.jx-ievent-event-title-box .jx-ievent-event-pretitle {
    font-size: 40px;
}
.jx-ievent-event-title-box .jx-ievent-event-title {
    font-size: 60px;
}
.jx-ievent-event-title-box .jx-ievent-event-location {
    font-size: 30px;
    line-height: 2;
}
</style>
              <div class="jx-ievent-middle">
                <div class="jx-ievent-event-box">
        					<div class="jx-ievent-event-date">
        						<div class="jx-ievent-event-day">04</div>
        						<div class="jx-ievent-event-month jx-ievent-uppercase">Nov 2017</div>
        					</div>
        					<div class="jx-ievent-event-title-box">
        						<div class="jx-ievent-event-pretitle">Edizione 2017</div>
        						<div class="jx-ievent-event-title">Coolest Projects Milano</div>
        						<div class="jx-ievent-event-location">Fabbrica del Vapore - Milano <button type="button" href="http://coolestprojects.it/" target="_new" class="btn btn-danger btn-lg">Vai al sito dedicato</button></div>
        					</div>
        				</div>
              </div>
            </a>
