<h1>Eventi</h1>
<p>
  In questa pagina puoi trovare informazioni relative ai prossimi eventi di CoderDojo Milano.
</p>

<h2>Il nuovo formato</h2>
<p>Nel rispetto delle restrizioni causate dall’emergenza sanitaria COVID-19 ed a maggior
tutela dell’intera comunità di ragazzi, genitori, accompagnatori e mentor, CoderDojo
Milano ha scelto di far ripartire le attività 2020/21 in modo virtuale.
</p>

<p>L’idea è di organizzare dei gruppi di lavoro remoti, attorno a progetti specifici che
vedranno il coinvolgimento di ragazzi e mentor. Ad esempio un gruppo/progetto potrà
concentrarsi sulla creazione di giochi mentre un altro sui droni. Un ninja (il nome che
diamo ai nostri ragazzi) potrebbe anche scegliere di partecipare a più di un progetto alla
volta.
</p>

<p>
Queste gruppi, le “classi virtuali”, saranno calibrati in modo da permettere la
partecipazione più ampia possibile in termini di competenze ed interessi. Ovviamente i
mentor di CoderDojo Milano vi aiuteranno a capire quale classe potrebbe essere la più
adatta per i vostri ninja!
</p>

<p>
Dal punto di vista delle tempistiche, lo svolgimento delle attività del gruppo sarà
distribuita su un arco di tempo più lungo rispetto al “tradizionale giorno dell’evento
Coderdojo”. Inoltre l’organizzazione della classe, in termini di cadenza dei lavori,
materiale ed eventuali strumenti accessori, saranno organizzati dai mentor in
autonomia.
</p>

<h2>Le tipologie di eventi</h2>
<p>
  Gli eventi "pubblici" CoderDojo Milano saranno sostanzialmente di due tipologie:
  <ul>
    <li>
      <p>
        <b>ONBOARDING</b>: prevalentemente rivolto ai genitori e con l'obiettivo di spiegare come funziona
      il nostro CoderDojo virtuale.
      In questa sessione spiegheremo le modalità di partecipazione dei ragazzi,
      gli strumenti utilizzati e risponderemo alle vostre domande.
      La partecipazione a questi eventi, una videochiamata di gruppo di circa un'ora, avverrà previa
      registrazione secondo le modalità specificate.
      </p>
    </li>
    <li>
      <p>
        <b>SHOW-CASE</b>: periodicamente i ragazzi, secondo le modalità definite con i propri mentor di riferimento,
        potranno mostrare i propri progressi agli altri ninja. Si creerà l'occasione per dare un occhio al lavoro "dei vicini"
        e magari avere qualche spunto creativo!
      </p>
    </li>
  </ul>
</p>

<h2>I gruppi di lavoro</h2>
<p>
  Questi sono i gruppi che abbiamo attivato per i nostri Ninja. Dai un'occhiata a cosa ti può
  interessare...
  <ul>
    <li>
      <p>
        <b>Scratch Esordienti:</b> non sai da quale gruppo partire ed è la prima volta che partecipi
        ad un nostro Dojo? Questo gruppo fa per te :-),
      </p>
    </li>
    <li>
      <p>
        <b>Arcade80 Scratch:</b> mastichi già Scratch e ti interessa cimentarti in qualcosa di più
        accattivante? Iscriviti a questo gruppo e creerai alcuni dei giochi più famosi
        nella storia dei videogame (ovviamente per poi giocarci :-)),
      </p>
    </li>
    <li>
      <p>
        <b>Python Kidz:</b> hai il "palato sopraffino" e sei curioso di sperimentare
        Python per le tue idee ed i tuoi progetti? Unisciti allora a questo team :-)
      </p>
    </li>
    <li>
      <p>
        <b>Droni:</b> ti senti più un ninja d'azione e ti piaciono i droni? Qui
         imparerai a programmarli... Forte, vero? :-)
      </p>
    </li>
  </ul>
</p>

<h2>Interessato a saperne di più?</h2>
Se il nostro progetto e le nostre attività ti interessano e desideri partecipare ad un evento di "ONBOARDING",
compila <a href="https://forms.gle/SnuucMwRTyCxvGST8">questo form</a>.
Ti contatteremo il prima possibile!

<!--
{% include informazioni_generali_eventi.html %}
-->

<h2>Calendario eventi CoderDojo</h2>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Data/Ora</td>
                <td>Evento</td>
            </tr>
        </thead>

        <tbody>
            {% for event in site.categories.event_planned reversed%}
                <tr date="{{event.date}}" style="display: none;">
                    <td>{{ event.date | date: "%d/%m/%Y %H:%M" }}</td>
                    <td>
                      {%if event.categories contains "onboarding" %}
                        <a href="{{ event.registration_url }}">{{ event.title }}</a>
                      {% else %}
                        <a href="{{ event.url  | prepend: site.baseurl }}">{{ event.title }}</a>
                      {% endif %}
                      <br/>
                      <span>{%for location in site.event_locations%}
                        {%if location.id == event.location%}{{ location.name }}{%endif%}{%endfor%}
                        {%if event.type == "online" %}
                          Online
                        {% endif %}
                      </span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<hr />
<p>
    <a onclick="showAllItems()" href="#">Mostra gli eventi passati</a>
</p>

<hr />

<p>
    Dubbi? Leggi le <a href="/faq">domande frequenti</a>
</p>
<script type="text/javascript">
    $(document).ready(
        function() {
            showFutureItems("tr[date]");
        }
    );
</script>
