<h1>Eventi</h1>
Ecco i prossimi eventi a cui sei invitato :-)
<br/>
<br/>
<h2>Calendario eventi CoderDojo</h2>
<!-- EVENT PLANNED LIST -->
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Data/Ora</td>
                <td>Evento</td>
            </tr>
        </thead>
        <tbody>
            {% for event in site.categories.event_planned reversed%}
                <tr date="{{event.date}}" style="display: none;">
                    <td>{{ event.date | date: "%d/%m/%Y %H:%M" }}</td>
                    <td><a href="{{ event.url  | prepend: site.baseurl }}">{{ event.title }}</a><br/><span>{%for location in site.event_locations%}{%if location.id == event.location%}
                    {{ location.name }}{%endif%}{%endfor%}</span></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<p>
    <a onclick="showAllItems()" href="#">Mostra anche gli eventi passati</a>
</p>
<p>
    Dubbi? Leggi le <a href="/faq">domande frequenti</a>
</p>
<script type="text/javascript">
    $(document).ready(
        function() {
            showFutureItems("tr[date]");
        }
    );
</script>
