    <!-- Calendar Section -->
    <section id="calendar" class="events-section content-section text-center">
        
            <h2>Calendario eventi</h2>
       <! -- EVENT PLANNED LIST -->
                    <ul class="list-unstyled">
        {% for event in site.events %}
                            <li>
                                <!--a href="{{ post.url  | prepend: site.baseurl }}"><img src="{{ "/assets/img/blog/thumbs/" | prepend: site.baseurl }}{{ post.thumb }}" alt="Popular Post"></a-->
                                <p><a href="{{ event.url  | prepend: site.baseurl }}">{{ event.title }}</a></p>
                                <em>Data {{ event.date | date_to_string }}</em>
                                <em>Luogo {{ event.location }}</em>
                            </li>
                </li>
        {% endfor %}
                   </ul>
         
    </section>