<!-- Footer -->
<footer>
    <div class="container footer">
        <p>
            <ul class="list-inline">
                <li>CoderDojo Milano è un'iniziativa dell'Associazione <a href="https://piccolevariabili.it">Piccole Variabili A.P.S.</a> / CF 97663890156 - P.IVA 09971060968 - PEC piccolevariabili@pec.it</li>
            </ul>
            <ul class="list-inline">
                <li>
                    <a href="https://www.iubenda.com/privacy-policy/71749296>" target="_blank">Privacy Policy</a>
                </li>
                <li>|</li>
                <li>
                    I contenuti di questo sito sono rilasciati sotto la <a rel="license" href="//creativecommons.org/licenses/by-nc-nd/4.0/legalcode.it">Licenza Creative Commons "Attribuzione-NonCommerciale-NonOpereDerivate 4.0 Internazionale"</a>.
                </li>
            </ul>
        </p>
     </div>
</footer>
