<h3/>Informazioni generali sui nostri eventi</h3>
<ul>
    <li>I nostri eventi si rivolgono a bambine/i e ragazze/ragazzi tra i 7 anni ed i 17 e la partecipazione è gratuita (<strong>Attenzione: i ragazzi di età inferiore a 16 anni devono essere accompagnati da un adulto che deve essere presente durante tutta la durata dell’evento</strong>)</li>
    <li>E' possibile registrarsi a partire dal lunedì precedente alla data dell'evento stesso</li>
    <li>Nel caso in cui non potessi più partecipare, ti chiediamo cortesemente di avvisarci per tempo (questo per permetterci di fare avanzare l'eventuale lista d'attesa oltre che per una questione di cortesia)</li>
    <li>Ti chiediamo anche di assicurarti che il computer utilizzato durante il CoderDojo abbia la dotazione richiesta di volta in volta nella pagina dell'evento</li>
    <li>Se hai domande o dubbi, prova a dare un'occhiata alla nostra pagina sulle <a href="/faq">domande pi&ugrave; frequenti</a></li>
</ul>
