 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <img class="navbar-logo" src="/assets/img/logo.png">
                    <span>CoderDojo Milano</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="/#page-top"></a>
                    </li>
                    <li class="dropdown {% if page.title == 'Chi siamo' %} active{% endif %}">
                      <a class="dropdown-toggle" data-toggle="dropdown" role="button">Chi siamo<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{"/#about" | prepend: site.baseurl }}">Cos'è CoderDojo</a></li>
                          <li><a href="{{"/faq/" | prepend: site.baseurl }}">Domande frequenti</a></li>
                        <li><a class="page-scroll" href="/#contact">Contattaci</a></li>
                        <li><a href="{{"/mentors" | prepend: site.baseurl }}">I nostri Mentor</a></li>
                        <li><a href="{{"/tools/7-regole-mentor/" | prepend: site.baseurl }}">Le 7 regole dei mentor</a></li>
                      </ul>
                    </li>
                    <li class="dropdown {% if page.title == 'Calendario eventi' %} active{% endif %}">
                      {%comment%}<a class="dropdown-toggle" data-toggle="dropdown" role="button">Calendario eventi<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{"/events-past" | prepend: site.baseurl }}">Eventi passati</a></li>
                      </ul>{%endcomment%}
                      <li><a href="{{"/events-plan" | prepend: site.baseurl }}">Eventi in programma</a></li>
                    </li>
                    <li class="dropdown {% if page.title == 'Risorse' %} active{% endif %}">
                      <a class="dropdown-toggle" data-toggle="dropdown" role="button">Risorse<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{"/tutorials" | prepend: site.baseurl }}">Tutorial</a></li>
                        <li><a href="//kata.coderdojo.com/wiki/KataItalia">Kata Italia</a></li>
                        <li><a href="{{"/tools" | prepend: site.baseurl }}">Rassegna tool</a></li>
                      </ul>
                    </li>
                    <li>
                        <a class="page-scroll" href="/contribute">Sostienici</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/mentor">Diventa Mentor</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
