body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', arial, sans-serif;
    background-color: {{ site.color.bg }};
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: 700;
}

h1.jumbo {text-shadow: 0.1em 0.1em #666;}
p.home {
    padding: 0 50px;
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p.home {
        padding: 0 100px;
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: {{ site.color.links }};
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: {{ site.color.links-focus }};
}

blockquote {
    margin: 20px 0 20px;
    border-left: 5px solid #A31E1E;
}

blockquote p {
    padding: 10px;
}

.error {
    color: red;
    text-shadow: none;
}

/* Navigation bar */

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,1);
    background-color: {{ site.color.navbar }};
}

.navbar-custom .navbar-brand .navbar-logo {
    width: 47px
}

.navbar-custom.top-nav-collapse .navbar-brand .navbar-logo {
    width: 32px
}

.navbar-custom .navbar-brand {
    font-size: 19px;
}

.navbar-custom.top-nav-collapse .navbar-brand {
    font-size: 14px;
}


.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom .navbar-brand.page-scroll {
    padding-top: 3px;
}

.navbar-custom.top-nav-collapse .navbar-brand.page-scroll {
    padding-top: 11px;
}

.navbar-custom a {
    color: #000;
    text-shadow: 1px 1px 3px #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li.active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    background-color: rgba(255,255,255,.3);
}

.navbar-brand span {
    display: none;
}

@media(min-width:993px) {
    .navbar-brand span {
        display: inline ;
    }
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(200,200,200,1);
        background-color: {{ site.color.navbar-collapsed }};
    }
}

/* Sections */

.content-section {
    padding: 50px 0;
}

.mentor-section {
    background-image: url('/assets/img/back_become_mentor02.jpg');
    background-attachment: fixed;
    color: white;
    min-height: 300px;
    padding-top: 50px;
}

.mentor-section a {
    margin-top: 50px;
}

/* Intro */

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    background: url('/assets/img/intro-bg.jpg') no-repeat bottom center scroll;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
    text-shadow: 4px 4px 10px #000;
    color: #fff;
}

.intro .intro-body .intro-text {
    font-size: 18px;
    text-shadow: 3px 3px 3px #fff;
    color: 000;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    #color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    #color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


/* About */

.youtube {
    width: 853px;
        height: 480px;
}

@media(max-width:767px) {
    .youtube {
        width: 300px;
        height: 169px;
    }
}

/* Contacts */

#contact {
    padding-left: 50px;
    padding-right: 50px;

}

/* Events */

.events-section {
    color: {{ site.color.fg }};
    background-color: #fff;
}

.events-section .calendar-big {
    display: block;
}

.events-section .calendar-small {
    display: none;
}

@media(max-width:767px) {
    .events-section .calendar-big {
        display: none;
    }

    .events-section .calendar-small {
        display: block;
    }
}

.btn {
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid {{ site.color.links }};
    color: {{ site.color.links }};
    background-color: transparent;
}
.btn-over-image,
.btn-over-image:hover,
.btn-over-image:focus {
    border: 1px solid {{ site.color.fg }};
    outline: 0;
    color: {{ site.color.fg }};
    background-color: {{ site.color.bg }};
}

ul.banner-social-buttons {
    margin-top: 0;
}

ul.banner-social-buttons li {
    margin-bottom: 15px;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
}

footer p {
    padding: 10px 0;
    margin: 0;
    font-size: 10pt;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

.mtb {
    margin-top:120px;
    margin-bottom: 80px;
}

#cd_map_container {
    height: 440px;
}

#event_map_container {
    height: 240px;
}

.map_dojo_name {
    font-size: 10;
    font-weight: bold;
    white-space: nowrap;
}
.map_dojo_addr {
    font-size: 8;
    font-style: italic;
    font-weight: normal;
}
.mentor-avatar {
    width: 180px;
}
